@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');

html {
	background-color: #fff3c9;
}

body {
	margin: auto;
	max-width: 600px;
	font-family: 'IM Fell DW Pica', serif;
}


h1 {
	font-family: "IM Fell DW Pica SC", serif;
	color: #8b0000;
	font-size: 4rem;
	margin: auto;
	text-align: center;
	font-weight: normal;

}

h2 {
	font-family: "IM Fell DW Pica SC", serif;
	font-weight: normal;
	color: #8b0000;
	font-size: 3.5rem;
	border-bottom: 3px solid #8b0000
}

h3 {
	font-family: "IM Fell DW Pica SC", serif;
	font-weight: normal;
	font-size: 3rem;
	color: #8b0000;
}

h4 {
	font-family: "IM Fell DW Pica", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 2.5rem;
	color: #8b0000;
}

h5 {
	font-family: "IM Fell DW Pica", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 2rem;
	color: #8b0000;
}

h6 {
	font-family: "IM Fell DW Pica", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	color: #8b0000;
}

b, th {
	color: #8b0000;
	font-family: "IM Fell DW Pica SC", serif;
	font-weight: normal;
}

blockquote {
	border-left: 3px solid #8b0000;
	border-right: 3px solid #8b0000;
	background-color: #facf7f;
	margin: 1em 10px;
	padding: 0.5em 10px;
	
}

table {
  border: 3px solid #8b0000;
  border-collapse: collapse;

}

th, td {
	border: 0.5px solid #8b0000;
	padding: 5px;
}

code {
	font-family: "Syne Mono", monospace;
}

.has-dropcap:first-letter {
  font-family: "IM Fell DW Pica SC", serif;
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  color: #8b0000;
}
